bigmarket/src/main/mule/bigMarket.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="bigMarket-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="bigMarket-config" api="resource::64a01cae-7d28-45bb-9d52-788cd9356d92:bigmarket:1.0.5:raml:zip:bigMarket.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="bigMarket-main">
        <http:listener config-ref="bigMarket-httpListenerConfig" path="/bigMarket/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="bigMarket-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="bigMarket-console">
        <http:listener config-ref="bigMarket-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="bigMarket-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\bankstatement:application\json:bigMarket-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  RecordCode: "01",
  SenderId: "01",
  ReceiverId: 80,
  FileIdentificationNum: 80,
  VersionNum: 2,
  CurrencyCode: "USD",
  AsOfDateModifier: 3,
  TypeCode: 581,
  Amount: 75772,
  CustomerReferrence: "00000202974",
  AccountControlTotal: "+16276051",
  NumberOfRecords: 195,
  GroupControlTotal: "+16276051",
  NumberOfAccounts: 1
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\bankstatement:multipart\form-data:bigMarket-config" doc:id="45717c23-42be-456c-9938-63dc96bc9579">
        <flow-ref doc:name="Flow Reference" doc:id="0f8b6ef7-0760-4f50-8773-0340852e0d82" name="uploadingFlatfile"/>
    </flow>
    <flow name="post:\sendingemails:application\json:bigMarket-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    VARIANCE_ITEM_COST: null,
    RECEIPT_QUANTITY: null,
    INVOICE_DATE: "2022-01-31T00:00:00",
    INVOICE_COST: 1.6625,
    RECEIPT_COST: 1.6625,
    SUPPLIER_NAME: "BRITANIA INDIA",
    INVOICE_NUMBER: "695217",
    SUPPLIER_SITE: "1002834",
    TOTAL_RECEIPT_ITEM_COST: null,
    ITEM: "1202606072",
    ITEM_DESC: "KATES DRK CHOC CHERRY",
    INVOICE_QUANTITY: 150,
    DUE_DATE: "2022-02-10T00:00:00",
    UPC: "897785001304",
    TOTAL_INVOICE_ITEM_COST: 249.375,
    PACK_SIZE: 1,
    RECEIPT_DATE: null,
    SUPPLIER_SITE_NAME: "422664_PKP1_99_BRITANIA INDIA(LX)",
    SUPPLIER_NUMBER: "1000059",
    VARIANCE_UNIT_COST: 0
  }, 
  {
    VARIANCE_ITEM_COST: null,
    RECEIPT_QUANTITY: null,
    INVOICE_DATE: "2022-01-31T00:00:00",
    INVOICE_COST: 1.6625,
    PO_NUMBER: 695217,
    RECEIPT_COST: 1.6625,
    SUPPLIER_NAME: "BRITANIA INDIA",
    INVOICE_NUMBER: "695217",
    SUPPLIER_SITE: "1002834",
    TOTAL_RECEIPT_ITEM_COST: null,
    ITEM: "1202606072",
    ITEM_DESC: "KATES DRK CHOC CHERRY",
    INVOICE_QUANTITY: 150,
    DUE_DATE: "2022-02-10T00:00:00",
    UPC: "897785001304",
    TOTAL_INVOICE_ITEM_COST: 249.375,
    PACK_SIZE: 1,
    RECEIPT_DATE: null,
    SUPPLIER_SITE_NAME: "422664_PKP1_99_BRITANIA INDIA(LX)",
    SUPPLIER_NUMBER: "1000059",
    VARIANCE_UNIT_COST: 0
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
